books {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

books li {
  display: flex;
}

books button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 5px;
  border-radius: 7px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

books button:hover {
  color: #255;
  background-color: #e6e6e6;
  left: .1em;
}

books button:active {
  background-color: #525252;
  color: #fafafa;
}

books button.selected {
  background-color: #FF00FF;
  color: white;
}

books button.selected:hover {
  background-color: #FF00FF	;
  color: white;
}

books button.selected:active {
  background-color: black;
  color: white;
}

.initText {
  color: #901010;
  font-size: 25px;
  font-family: cursive;
}

books .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 20em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

books .name {
  align-self: center;
}

#bookItem {
  margin: 5px;
  background-color: #eac0f7;
}
