<div *ngIf="book">
  <h5>{{book.title}} - Book Details</h5>
  <div><span id="labelName">Series Name:</span> {{book.seriesName}}</div>
  <div><span id="labelName">Id:</span> {{book.id}}</div>
  <div>
    <label for="book-title"><span id="labelName">Book title:</span></label>
    <input id="book-title" [(ngModel)]="book.title" placeholder="title">
  </div>
  <div>
    <label for="book-author"><span id="labelName">Book author:</span></label>
    <input id="book-author" [(ngModel)]="book.author" placeholder="author">
  </div>
  <div><span id="labelName">Nr. of pages:</span> {{book.nrOfPages}}</div>
  <div><span id="labelName">Publication date/year:</span> {{book.publicationDate | date: "dd.MM.YYYY"}}</div>
</div>
